/* .card {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 60%;
} */

/* .mediabox {
   width: 75%;
} */

/* 
.navbar {
   width: 150%;
   margin-left: -25%;
   display: flex;
   justify-content: space-between;
}

.navbar Button {
   height: 30px;
   width: 60px;
   border: none;
   background-color: rgba(255, 255, 255, 0);
}

.navbar Button :hover {
   opacity: 0.7;
}

 */
